.header {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
}

.header h1 {
  padding: 0 10px;
  margin: 20px 0;
  text-align: center;
  color: var(--header-fg-color);
}

.header h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--header-bg-color);
  position: absolute;
  bottom: calc(-5vw + 147px);
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.header h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 147px;

  background-image: url("/header-background.png");
  @supports (background-image: url("/header-background.webp")) {
    background-image: url("/header-background.webp");
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  bottom: -5vw;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 60px;
  color: var(--header-bg-color);
}

.header ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 147px;

  background-image: url("/nav-background.png");
  @supports (background-image: url("/nav-background.webp")) {
    background-image: url("/nav-background.webp");
  }

  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -43px;
  left: 0;
  z-index: -1;
}

.header li {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

.header li + li {
  padding-left: 70px;
}

.header + * {
  margin-top: 180px;
  min-height: calc(100vh - 180px);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--header-fg-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
  color: var(--header-bg-color);
}
.hamburger:hover {
  background-color: var(--header-fg-color);
}

@media screen and (max-width: 1133px) {
  .header h1 {
    padding: 0 60px 0 10px;
  }

  .hamburger {
    display: block;
  }

  .header ul {
    display: none;
  }
  .header ul::after {
    display: none;
  }

  .header .expanded ul {
    display: block;
  }

  .header ul {
    position: absolute;
    top: 78px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 78px);
    background-color: white;
  }
  .header ul li {
    text-align: center;
    margin: 0;
    height: auto;
  }
  .header li + li {
    padding-left: 0;
  }
  .header ul li a {
    color: var(--header-bg-color);
    width: 100%;
    padding: 1.5rem 0;
  }
  .header ul li:hover {
    background-color: var(--header-fg-color);
  }

  .cta {
    margin: 0 auto;
    max-width: 250px;
  }
}

@media screen and (max-width: 687px) {
  .header ul {
    top: 116px;
    height: calc(100vh - 116px);
  }
}

@media screen and (max-width: 428px) {
  .header ul {
    top: 154px;
    height: calc(100vh - 154px);
  }
}

.cta {
  display: inline-block;
  background-color: transparent;
  border: 3px solid var(--fg-color);
  color: var(--fg-color);
  padding: 12px 20px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 30px;
}

/* Darker background on mouse-over */
.cta:hover {
  background-color: var(--fg-color);
  color: var(--header-fg-color);
}
