.header {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--header-bg-color);
}

.header h1 {
  margin: 20px 0;
  text-align: center;
  color: var(--header-fg-color);
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 60px;
  background: var(--header-fg-color);
  color: var(--header-bg-color);
}

.header li {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

.header li + li {
  padding-left: 70px;
}

.header + * {
  margin-top: 180px;
  min-height: calc(100vh - 180px);
}
