body {
  --notion-font: ui-sans-serif, system-ui, apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --header-fg-color: #AEBEBA;
  --header-bg-color: #4C6074;
  --fg-color: #4C6074;
  --fg-color-0: rgba(35, 52, 87, 0.09);
  --fg-color-1: rgba(35, 52, 87, 0.16);
  --fg-color-2: rgba(35, 52, 87, 0.4);
  --fg-color-3: rgba(35, 52, 87, 0.6);
  --fg-color-4: #000;
  --fg-color-5: rgba(35, 52, 87, 0.024);
  --fg-color-6: rgba(35, 52, 87, 0.8);
  --fg-color-icon: var(--fg-color);
  --bg-color: #dfe8e6;
  --bg-color-0: hsla(44, 6%, 50%, 0.15);
  --bg-color-1: #dfe8e6;
  --bg-color-2: hsla(44, 6%, 50%, 0.15);
  --select-color-0: #2eaadc;
  --select-color-1: rgba(45, 170, 219, 0.3);
  --select-color-2: #d9eff8;
  --notion-red: #e03e3e;
  --notion-pink: #ad1a72;
  --notion-blue: #0b6e99;
  --notion-purple: #6940a5;
  --notion-teal: #4d6461;
  --notion-yellow: #dfab01;
  --notion-orange: #d9730d;
  --notion-brown: #64473a;
  --notion-gray: #9b9a97;
  --notion-red_background: #fbe4e4;
  --notion-pink_background: #f4dfeb;
  --notion-blue_background: #ddebf1;
  --notion-purple_background: #eae4f2;
  --notion-teal_background: #ddedea;
  --notion-yellow_background: #fbf3db;
  --notion-orange_background: #faebdd;
  --notion-brown_background: #e9e5e3;
  --notion-gray_background: #ebeced;
  --notion-red_background_co: hsla(0, 74%, 94%, 0.3);
  --notion-pink_background_co: rgba(244, 223, 235, 0.3);
  --notion-blue_background_co: rgba(221, 235, 241, 0.3);
  --notion-purple_background_co: rgba(234, 228, 242, 0.3);
  --notion-teal_background_co: rgba(221, 237, 234, 0.3);
  --notion-yellow_background_co: hsla(45, 80%, 92%, 0.3);
  --notion-orange_background_co: hsla(29, 74%, 92%, 0.3);
  --notion-brown_background_co: hsla(20, 12%, 90%, 0.3);
  --notion-gray_background_co: hsla(210, 5%, 93%, 0.3);
  --notion-item-blue: rgba(0, 120, 223, 0.2);
  --notion-item-orange: rgba(245, 93, 0, 0.2);
  --notion-item-green: rgba(0, 135, 107, 0.2);
  --notion-item-pink: rgba(221, 0, 129, 0.2);
  --notion-item-brown: rgba(140, 46, 0, 0.2);
  --notion-item-red: rgba(255, 0, 26, 0.2);
  --notion-item-yellow: rgba(233, 168, 0, 0.2);
  --notion-item-default: hsla(45, 4%, 80%, 0.5);
  --notion-item-purple: rgba(103, 36, 222, 0.2);
  --notion-item-gray: hsla(45, 2%, 60%, 0.4);
  --notion-max-width: 900px;
  --notion-header-height: 54px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--notion-font);
  background: var(--bg-color);
  overflow-x: hidden;
}
