/* The punch line */
.notion-block-682d5b128cf74a4aa4455f6a28e218d5 .notion-red b {
  color: var(--header-bg-color);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/* Boutton prise rdv */
.notion-block-72a4c8d728af4e128e8f683e338555ef a {
  text-transform: uppercase;
  display: inline-block;
  background-color: var(--bg-color);
  border: 3px solid var(--fg-color);
  color: var(--fg-color);
  padding: 12px 30px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
}

.notion-block-72a4c8d728af4e128e8f683e338555ef .notion-red {
  color: var(--fg-color);
}

/* Darker background on mouse-over */
.notion-block-72a4c8d728af4e128e8f683e338555ef a:hover {
  background-color: var(--fg-color);
  border: 3px solid var(--fg-color);
  color: var(--bg-color);
}

.notion-block-72a4c8d728af4e128e8f683e338555ef a:hover .notion-red {
  color: var(--bg-color);
}
